<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1474403078171-7f199e9d1335?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80);">
  <div class="container mt-5">
    <h1>Gerencie seus <strong>clientes</strong> da <strong>melhor</strong> forma!</h1>
    <p>Gerenciar clientes pode ser prático e simples!</p>
  </div>
</div>
